@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .section-container {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .section-padding {
    @apply py-16 md:py-24;
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.contact-icon {
  @apply p-3 bg-white dark:bg-gray-800 rounded-full shadow-lg transition-all duration-300 hover:scale-110 text-gray-700 dark:text-gray-300 hover:text-emerald-300;
}

.contact-icon:hover {
  @apply shadow-[0_0_20px_rgba(16,185,129,1)] dark:shadow-[0_0_30px_rgba(16,255,200,0.1)];
}

.download-button {
  @apply inline-flex items-center px-6 py-3 bg-emerald-500/70 text-white rounded-lg transition-all duration-300 hover:scale-105 shadow-lg hover:shadow-xl;
}

.download-button:hover {
  @apply bg-amber-400/50 dark:bg-amber-400/80 hover:text-black;
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-waving-hand {
  animation: waving-hand 2s ease-in-out infinite;
  transform-origin: 70% 70%;
}
